router id {{.RouterID}};

log stderr all;

{{.Filters}}
protocol device {
}

protocol direct {
    ipv4;
}

protocol kernel {
    ipv4 {
        export all;
        import none;
    };
}

# own loopback
protocol static static_self {
    ipv4;
    route {{.Loopback}} blackhole;
}

# BFD for fast OSPF neighbor failure detection
protocol bfd {
    interface "*" {
        min rx interval 100 ms;
        min tx interval 100 ms;
        multiplier 3;
    };
}

protocol ospf v2 ospf4 {
    ipv4 {
        import all;
        export none;
    };
    area 0 {
{{- range .OSPFInterfaces}}
        interface "{{.Name}}" {
            type ptp;
            bfd yes;
            # {{.Address}}
        };
{{- end}}
        interface "lo" {
            stub;
        };
    };
}
{{- range .IBGPNeighbors}}
protocol bgp ibgp_{{.SanitizedName}} {
    local {{$.RouterID}} as {{$.ASN}};
    neighbor {{.Address}} as {{$.ASN}};
    source address {{$.RouterID}};
    ipv4 {
        import all;
        export all;
        next hop self;
    };
}
{{end}}
{{- range .EBGPSessions}}
protocol bgp ebgp_{{.SanitizedName}} {
    local as {{$.ASN}};
    neighbor {{.PeerAddr}} as {{.PeerASN}};
    ipv4 {
        import filter {{.ImportFilter}};
        export filter {{.ExportFilter}};
    };
}
{{end}}
